 /*---------------------------GENERAL---------------------------*/


/* Couleurs/Polices principales du thème*/

$primary-color : #4e9182;
$maintext-color : #f0c92e;
$font-main:'Montserrat';
$font-enchante : 'Devonshire';
$font-chic : 'Croissant One';
$font-french:'Cantata One';
$font-papilles :'Dancing Script';
$font-gout:'Kaushan Script';
$font-menu:'Kalam';


/* Mise en page générale du thème*/

a {
    text-decoration: none;
}

h1 {
    letter-spacing: -0.07em;
    color: $maintext-color;
    font-size: 4em;
}

p {
    font-size: 1.6em;
    font-family: $font-main, sans-serif;
}

h3 {
    font-size: 2em;
    font-weight: lighter;
    font-family: $font-menu;
}

h4 {
    color : $maintext-color;
    font-size: 1em;
    letter-spacing: 0.01em;
    font-weight: lighter;
    padding-left:15px;
    padding-right:15px;
}

h5 {
    font-family: $font-main;
    color : $maintext-color;
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: -0.03em;
}


body {
    font-size: 20px;
    height:auto;
    width: 80%;
    margin:auto;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    text-align: center;
    background-color:white;
}

header {
    height : 100px;
    width : 100%;
    background-color: $primary-color ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-main, sans-serif;   
}

.grid {
    width: 100%;
    padding-top:20px;
    padding-bottom: 20px;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: 30% 30%;
    grid-template-rows: 400px 400px;
    justify-content: center;
}

.menu {
    padding:1em;
    box-shadow: 0 0 20px #bababa;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.prochainement {
    width: 25%;
    height: 50px;
    background-color: $primary-color;
    margin-bottom: 40px;
    margin-top: 40px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    position: sticky;    /*Va permettre au footer d'adherer au bas de la fenetre */
    bottom: 0; 
    height : 10%;
    width : 100%;
    background-color: $primary-color ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: $font-main;
}

 /*---------------------------SPECIFIQUE AUX MENUS---------------------------*/


 /*-----ENCHANTED-----*/

 .enchante {
   
    background-color:#ffe7e6;

    .icon-music {
        display: block     /*Afin de limiter l'ecart sans faire br*/
    }
     
    .fa-music {
        background: linear-gradient(to right, #f26fa4 0%, #ff8d00 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;  
    }

    p {
        font-family: $font-enchante;
        letter-spacing: 0.1em;
        font-size: 1.6em;
        color:black;
    }

    h3 {
        color:black;
        text-transform: uppercase; 
    }
}


 /*-----CHIC-----*/
 
.chic {
    
    background-color: #faf0ff;

    p {
        font-size: 1.6em;
        font-family: $font-chic ;
        background: linear-gradient(to right, #ff8d00 0%, #9600ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    h3 {
         font-family:$font-french;
         color: #ff8d00;        
    }
}

 /*-----PAPILLES-----*/
 
.papilles {
   
    background-color:#ebebeb ;

    p {
        font-family: $font-papilles;
        background: linear-gradient(to right, #1255e3 0%, #12d3e3 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color:  transparent;
    }

    h3 {
        color : #1255e3;
    }
}

/*-----GOUT-----*/

.gout {

    background:#ffffff ;

    p {
        font-family: $font-gout;
        background: linear-gradient(to right, #0da152 0%, #5ddb36 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color:  transparent;
    }

    h3 {
        color :#0da152;
    }
}

/*-----MENTIONS LEGALES-----*/

.block-mentions { 

    text-align: justify;
    padding-left: 40px;
    padding-right: 40px;

        .centre-mentions {
            font-weight: bold;
        }

        h3 {
            font-family:$font-main;
            font-size:1.6em;
            text-align: center;
            color:$maintext-color;  
        }

        p {
            font-size: 1em;
            padding-bottom: 1em;
        }

        h4 {
            text-align: center;
            font-size: 1.6em;
            font-family: $font-main;
            padding-bottom: 1em;
        }
}

.centre-mentions {
    text-align: center;
    padding-top:5em;
}

/*-----------------------------------------------------------------ANIMATIONS-----------------------------------------------------------------*/

 .zoom {
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}

.zoom:hover {
    transform: scale(1.2);
    opacity: 0.4;
}

h4:hover {
    animation: wiggle 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
@keyframes wiggle {
      0% { transform: translate(3px, 3px) rotate(3.5deg); }
     25% { transform: translate(2px, 2px) rotate(-3deg); }
     50% { transform: translate(1px, 1px)  rotate(3.5deg); }
     75% { transform: translate(2px, 2px) rotate(-3deg); }
    100% { transform: translate(3px, 3px)  rotate(3.5deg);}  
}
 
h5 span {
    font-weight: bold;
    letter-spacing: 5px;
      animation-name: blink;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
    }
    
h5 span:nth-child(2) {
        animation-delay: .2s;
    }
    
h5 span:nth-child(3) {
        animation-delay: .4s;
    }
  
@keyframes blink {
        0%   { opacity: .2;}
        20%  { opacity: 1;}
        100% { opacity: .2;}
    }
  

 /*----------MEDIA QUERIES / RESPONSIVE ----------*/

  /*TABLETTE*/

@media only screen and (max-width: 1200px){

    header {
        width: 100%;
        height: 100px;
    }
    
    body {
        width: 100%;
        min-height: 100%;
        position: relative;
    }

    .grid {
        padding-top: 100px;
        padding-bottom: 100px ;
    }
    
    .prochainement{
        width: 30%;
        margin-top: 0;

        h5 {
            font-size: 1.2em;
        }
    }
}

  /*TELEPHONE*/

@media only screen and (max-width: 767px){

    header {
        width: 100%;
        height: 80px;
    }

    body {
        width:95%;
        font-size: 18px;
    }

    .menu {
        height: 300px;
        width: 90%;
    }

    h1 {
        font-size: 3em;;
    }

    .grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu {
        margin-bottom: 20px;
        padding: 0;
    }

    .prochainement{
        width: 70%;
        margin-top: 0;

        h5 {
            font-size: 1.2em;
        }
    }

    footer {
        width : 100%;

        h4 {
            font-size: 0.8em;
        }
    }    

  /* TELEPHONE - MENTIONS LEGALES */

  .block-mentions { 
    padding-left: 25px;
    padding-right: 25px;

        p {
            font-size: 0.7em;
        }
        
        h4 {
            font-size: 1em;
        }
    }
}

